[submodule "binutils"]
	path = binutils
	url = git@github.com:andestech/binutils.git
	branch = ast-v3_2_4-release-v3
[submodule "gcc"]
	path = gcc
	url = git@github.com:andestech/gcc.git
	branch = ast-v3_2_4-release-v3
[submodule "newlib"]
	path = newlib
	url = git@github.com:andestech/newlib.git
	branch = ast-v3_2_4-release-v3
[submodule "glibc"]
	path = glibc
	url = git@github.com:andestech/glibc.git
	branch = ast-v3_2_4-release-v3
[submodule "gdb"]
	path = gdb
	url = git@github.com:andestech/gdb.git
	branch = ast-v3_2_4-release-v3
